{
  "extends": "airbnb-base",
  "root": true,
  "rules": {
    "linebreak-style": ["error", "unix"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
